$haed: 60px;

body{
	display:flex;
	flex-flow: row wrap;

	width:1900px;
	margin: 0 auto;
}

input{
	display: none;
}

label{
	position: fixed;
	top:0;
	left:0px;
	font-size: 1.5em;
	width: 90px;
	border: 1px solid gray;
	border-radius: 2px;
	background: silver;
	text-align: center;
	font-weight: bold; 
	z-index: 1;
}

.valmynd{
	position: fixed;
	top:-150px;
	left:0;
	width: 80px;
	padding: 0;
  	margin: 0;
  	transition: all 1s ease;
}

.valmynd li{
	background: gray;
	border:0.5px solid white;
	width: 80px;
	padding:5px;
	text-align: center;
	color:white;
}

input:checked ~ .valmynd{
	position: fixed;
	top:29px;
	left:0;
	transition: all 1s ease;
}

header{
	order:1;
	background:yellow;
	width:100%;
	height: $haed;
	margin-top: 10px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 50px;
}

.numer1{
	order:2;
	background:red;
	width:35%;
	height:900px;
}
.numer2{
	order:3;
	background:blue;
	width:35%;
}
.numer3{
	order:4;
	background:green;
	width:30%;
}

footer{
	order:5;
	background:salmon;
	width:100%;
	height: $haed;
}

@media screen and (max-width:400px){
body{
	width:100%;
}

header{
	height:50px;	
}

footer{
	height:30px;
}

.numer1{
	width:100%;
	height:auto;
}
.numer2{
	width:100%;
}
.numer3{
	width:100%;
}

label{
	width: 100%;
}

.valmynd{
	width: 100%;
}

.valmynd li{
	width: 100%;
}

}